.aa h2 {
    color: chocolate;
}

.ccc {
    background-image: url(../img/pexels.jpeg);
    width: 100%;
    height: 700px;
    background-size: cover;
    margin-top: -5%;
}
.ml6 {
  position: relative;
  font-weight: 200;
  font-size: 3.3em;
  color: antiquewhite;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 23%;
  padding-right: 0.5em;
  padding-bottom: 16px;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}
.item{
    font-size: 3em;
    text-align: center;
    color: white;
}
.ab{
    background-color:transparent;
    border: 2px solid white;
    border-radius: 2px;
    color: white!important;
    font-family: 'Monoton', cursive;
}
.ccc-overlay{
    background-color:rgba(0,0,0,0.5);
    height: 700px;
    width: 100%;

}
.ccc-overlay h2{
    font-size: 30px;
    text-align: center;
    top: 30%;
    position: absolute;
    color: aliceblue;
    left: 35%;
    background-color: gray;
}
.content-image{
    height: 300px!important;
    width:  300px!important;
    margin-top : 71px;
}
.ee {
    text-align: center
}


.edit {
    font-family: cursive;
}

.black {
    background-color: gray;
}

.edu {
    background-color: gray;
}

.ff {
    background-color: black;
    background-size: cover;
    width: 100%;
    height: 50px;
    height: 75px;
}

.f {
    color: blanchedalmond;
   
}
